
<!DOCTYPE html>
<img src=https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTO9BvLIGjTI5op_q1vGnLF7pURxa64-NU70O9Rn71H-WNbcpZhalt="14" class="img-circle"> <html ng-app="agendaTelefonica">


<head>
	<meta charset="UTF-8">
	<title> Agenda Telefonica</title>
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

</head>
<body>

<div class="container-fluid">
<div class="row" ng-controller="listaTelefonicaCtrl">
<h2>{{app}}</h2>
<table class="table table-striped">

<thead>

<tr>
<th></th>
<th>Nome</th>
<th>Apelido</th>
<th>Telefone</th>
<th>Operadora</th>
<th>codigo</th>

</tr>
</thead>
<tbody>
	<tr ng-repeat="contato in contatos">
	<td>
	<input type="checkbox">
	</td>
	<td>{{contato.nome}}</td>
	<td>{{contato.apelido}}</td>
	<td>{{contato.telefone}}</td>
	<td>{{contato.operadora.nome}}</td>
	<td>{{contato.operadora.codigo}}</td>
	

	</tr>
</tbody>
</table>
</div>

</div>

<scritp src="bower_components/jquery/dist/jquery.min.js"></scritp>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>